# ===============================
# FRONTEND (React)
# ===============================

frontend/node_modules/
frontend/.pnp
frontend/.pnp.js

frontend/coverage/
frontend/build/

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/.DS_Store

frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local


# ===============================
# BACKEND (Python / FastAPI)
# ===============================

__pycache__/
*.pyc
.env
.vscode/


# ===============================
# GENERAL
# ===============================

.DS_Store
